{% extends "chat/base.html" %}
{% block content %}
<h1>Proiect Google Atelierul Digital 2021</h1>
<h3>Robert Tipter</h3>
<p>Aceste este o simpla aplicatie Chat dezvoltata complet in Django, care include mai multe functiuni basic
    cum ar fi inregistrarea, logarea si delogarea userilor cat si o simpla aplicatie de chat care are la baza
    un container Docker de Redis pentru a reda chat-ul.</p>
    <p>Pentru crearea acestei aplicatii am folosit urmatoarele:</p>
    <li>
    MySQL pentru baza de date de useri</li>
    <li>Crispy Forms pentru a formata template-urile de login</li>
    <li>Modulul de require_login</li>
    <li>Redis</li>

{% endblock content %}